*{
    font-family: Roboto;
}
body{
    background: url(../images/backcover.svg) no-repeat top right;
}

.main-div{
    max-width: 1080px;
    margin: 0 auto 0;
}
nav{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .nav-items{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #3E4794;
    column-gap: 30px;
}

.signin-btn, .learn-more-btn{
    border-radius: 15px;
    background: linear-gradient(90deg, #6674FD, #F9C2EE);
    color: #ffffff;
    border: none;
    padding: 0px 20px;
}
.signin-btn{
    font-size: 18px;
    height: 30px;
    border-radius: 15px;
}
/*Hero Section*/
.intro-section{
    display: flex;
    /* flex-wrap: wrap; */
    height: 75vh;
}

.left-section{
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 450px;
}

.left-section h1{
    font-size: 70px;
    color: #3E4794;
}

.left-section h4{
    color:#696D8D;
    font-size: 15px;
    max-width: 75%;
    line-height: 30px;
}

.learn-more-btn{
    max-width: 250px;
    font-size: 28px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    font-weight: 600;
}

.imgs-div>img:nth-child(3){
    height: 90vh;
    width: 50vw;
    position: absolute
}

.imgs-div>img:nth-child(2){
position: absolute;
padding-top: 600px;
padding-left: 50px;
}
.imgs-div>img:nth-child(1){
    position: absolute;
    padding-top: 600px;
}